{% extends "layouts/master.twig" %}

{% block content %}
    {# Hero Section #}
    <section class="hero-section">
        <div class="hero-image" style="background-image: url('{{ asset("images/hero-bg.jpg") }}');">
            <div class="hero-content">
                <h1>{{ trans("home.hero_title") }}</h1>
                <p>{{ trans("home.hero_subtitle") }}</p>
                <a href="{{ link("products") }}" class="btn btn-primary">{{ trans("home.discover_collection") }}</a>
            </div>
        </div>
    </section>

    {# How to Choose Section #}
    {% include "components/home/how-to-choose.twig" %}

    {# Best Sellers Section #}
    {% include "components/home/best-sellers.twig" %}

    {# Why Seda Line Section #}
    {% include "components/home/why-seda-line.twig" %}

    {# Testimonials Section #}
    {% include "components/home/testimonials.twig" %}
{% endblock %}
