<header class="bg-white shadow-md">
    <div class="container mx-auto px-4">
        <div class="flex justify-between items-center py-4">
            <div class="logo">
                <a href="{{ link('home') }}">
                    <img src="{{ asset('images/logo.png') }}" alt="Seda Line Logo" class="h-12">
                </a>
            </div>
            <nav>
                <ul class="flex space-x-8">
                    <li><a href="{{ link('home') }}" class="text-gray-600 hover:text-black">الرئيسية</a></li>
                    <li><a href="{{ link('products') }}" class="text-gray-600 hover:text-black">المنتجات</a></li>
                    <li><a href="{{ link('about') }}" class="text-gray-600 hover:text-black">من نحن</a></li>
                    <li><a href="{{ link('contact') }}" class="text-gray-600 hover:text-black">اتصل بنا</a></li>
                </ul>
            </nav>
            <div class="flex items-center space-x-4">
                <a href="{{ link('search') }}" class="text-gray-600 hover:text-black"><i class="fas fa-search"></i></a>
                <a href="{{ link('cart') }}" class="text-gray-600 hover:text-black"><i class="fas fa-shopping-cart"></i></a>
                <a href="{{ link('wishlist') }}" class="text-gray-600 hover:text-black"><i class="fas fa-heart"></i></a>
            </div>
        </div>
    </div>
</header>
