<footer class="main-footer">
    <div class="container">
        <div class="footer-widgets">
            <div class="widget">
                <h4>{{ trans("common.about_us") }}</h4>
                <p>{{ store.description }}</p>
            </div>
            <div class="widget">
                <h4>{{ trans("common.quick_links") }}</h4>
                <ul>
                    <li><a href="{{ link("home") }}">{{ trans("common.home") }}</a></li>
                    <li><a href="{{ link("products") }}">{{ trans("common.products") }}</a></li>
                    <li><a href="{{ link("about") }}">{{ trans("common.about_us") }}</a></li>
                    <li><a href="{{ link("contact") }}">{{ trans("common.contact_us") }}</a></li>
                </ul>
            </div>
            <div class="widget">
                <h4>{{ trans("common.contact_us") }}</h4>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> {{ store.address }}</li>
                    <li><i class="fas fa-phone"></i> {{ store.phone }}</li>
                    <li><i class="fas fa-envelope"></i> {{ store.email }}</li>
                </ul>
            </div>
            <div class="widget">
                <h4>{{ trans("common.follow_us") }}</h4>
                <div class="social-media">
                    <a href="{{ store.social.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="{{ store.social.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="{{ store.social.snapchat }}" target="_blank"><i class="fab fa-snapchat"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; {{ "now"|date("Y") }} {{ store.name }}. {{ trans("common.all_rights_reserved") }}</p>
        </div>
    </div>
</footer>
